<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzbleVFVKAk2x11H69V3IyXG72D2ZaDM4</string>
	<key>GCM_SENDER_ID</key>
	<string>574872754111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrmalodorous.mqSafetyFirst</string>
	<key>PROJECT_ID</key>
	<string>mq-safety-first</string>
	<key>STORAGE_BUCKET</key>
	<string>mq-safety-first.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574872754111:ios:e9da3fc03458d67319730a</string>
</dict>
</plist>